body {
    background-color: #010D11;
    padding: 0;
    margin: 0;
}

.logo-container{
    display: inline-block; /* Ensure that the container only takes the space it needs */
    transition: transform 0.3s ease-in-out; /* Add a transition for smooth scaling */
    position: relative;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    padding: 10px;
}

.logo{
    position: relative;
    transform-origin: top left; /* Set the transform origin to the center of the logo */
}

.palm {
    position: absolute;
} 

.container{
    position: absolute;
    clip-path: polygon(39% 50%, 54% 58%, 39% 67%, 24% 56%);
}

.eye {
    width: 100%; /* Make sure the image takes the full width of its parent */
    transition: clip-path 0.5s ease;
}

.logo-container:hover{
    transform:scale(1.1);
}

.logo:hover .eye{
    animation: logoAnimation 3s ease;
}

.taskbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5em;
    background-color: black;
    box-shadow: rgba(101, 255, 101, 0.438) 0 0 80px;
}

.taskbar_btn {
    color: white;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 1em 1.5em 1em 1.5em;
    transition: 0.5s;
}

.taskbar_btn:hover {
    cursor: pointer;
    color: #9829d0;
    transition: 0.3s;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-shadow: rgb(204, 255, 199) 0 0 4px;
}

.subsection {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.subsection .info {
    margin: 5em;
    text-align: center;
    width: 50vw;
}


@keyframes logoAnimation{
    0%{
        transform: translateX(0);
    }
    26%{
        transform: translateX(3px);
    }
    53%{
        transform: translateX(-3px);
    }
    80%{
        transform: translateX(0px);
        clip-path: polygon(39% 50%, 54% 58%, 39% 67%, 24% 56%);
    }
    90%{
        clip-path: polygon(39% 67%, 54% 58%, 39% 67%, 24% 56%);
    }
    100%{
        clip-path: polygon(39% 50%, 54% 58%, 39% 67%, 24% 56%);
    }
}