body {
    background-color: #1f1f1f;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.logo-container {
    position: absolute;
    top: 10%;
    left: 1%;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    width: 8vh;
    height: 8vh;
    padding: 0; /* Remove padding to prevent overflow */
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Ensure the logo is on top of other content */
  }
  
  .logo {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .palm {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .container {
    position: absolute;
    clip-path: polygon(39% 50%, 54% 58%, 39% 67%, 24% 56%);
    width: 100%;
    height: 100%;
  }
  
  .eye {
    width: 100%;
    transition: clip-path 0.5s ease;
  }

.logo-container:hover{
    transform:scale(1.1);
}

.logo:hover .eye{
    animation: logoAnimation 3s ease;
}

.taskbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: black;
    box-shadow: rgba(161, 161, 161, 0.438) 0 0 80px;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3.5em;
    font-family: 'arial black', sans-serif;
    font-weight: 300;
    padding-top: 15vh;
}

.subsection {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.subsection .info {
    margin: 5vh;
    text-align: center;
    width: 75vw;
}

.ln1, .ln2, .ln3 {
	width: 100%;
	height: 10%;
	background-color: #FFF;
	margin: 12% 0;
	transition: 0.4s;
}

.change .ln1 {
	transform: translate(0, 0.75em) rotate(-45deg);
}

.change .ln2 {
	opacity: 0;
}

.change .ln3 {
	transform: translate(0, -0.65em) rotate(45deg);
}

.animatedico {
    position: relative;
    display: inline-block;
    cursor: pointer;
    top: 10%;
    right: 2%;
    width: 8vh;
    height: 8vh;
    padding: 0; /* Remove padding to prevent overflow */
    object-fit: contain;
    align-items: center;
    justify-content: center;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 10vh;
	right: 0;
	background-color: #FFFFFF;
	overflow-x: hidden;
	padding-top: 0px;
	transition: 0.5s;
}

.sidenav a {
	padding: 1em 1.5em 1em 1.5em;
	text-decoration: none;
	font-size: 25px;
	color: #222222;
	font-size: 1.2em;
	display: block;
	transition: 0.3s;
    font-family: 'Bahnschrift SemiBold', sans-serif;
}

.sidenav a:hover {
	background-color: #EEE;
}


@keyframes logoAnimation{
    0%{
        transform: translateX(0);
    }
    26%{
        transform: translateX(3px);
    }
    53%{
        transform: translateX(-3px);
    }
    80%{
        transform: translateX(0px);
        clip-path: polygon(39% 50%, 54% 58%, 39% 67%, 24% 56%);
    }
    90%{
        clip-path: polygon(39% 67%, 54% 58%, 39% 67%, 24% 56%);
    }
    100%{
        clip-path: polygon(39% 50%, 54% 58%, 39% 67%, 24% 56%);
    }
}